doctype 5
html
  head
    title = title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/lib/rx/rx.js')
    script(type='text/javascript', src="/js/lib/rx/rx.aggregates.js")
    script(type='text/javascript', src="/js/lib/rx/rx.binding.js")
    script(type='text/javascript', src="/js/lib/rx/rx.coincidence.js")
    script(type='text/javascript', src="/js/lib/rx/rx.experimental.js")
    script(type='text/javascript', src="/js/lib/rx/rx.joinpatterns.js")
    script(type='text/javascript', src="/js/lib/rx/rx.testing.js")
    script(type='text/javascript', src="/js/lib/rx/rx.time.js")

  body
    block content
