#slide-content {
  @panel-width: 1000px;
  @panel-height: 600px;
  @font-color: #464369;
  .size(@panel-height, @panel-width);
  position: relative;
  background-color: rgba(180, 152, 255, 0.16);
  .rounded-corners(10px);

  button {
    .size(25px, 150px);
  }

  h1 {
    float: left;
    padding-top: 150px;
    padding-left: @panel-width / 4;
    color: @font-color;
    font-size: 80px;
  }

  h2 {
    float: left;
    margin-left: 10px;
    color: @font-color;
    font-size: 45px;
    width:95%;
    border-bottom:2px solid @font-color;
  }

  ul {
    float: left;
    color: @font-color;
    font-size: 40px;
    margin-left: 10px;
    li {
      padding-left: 15px;
      margin-left: 30px;
      width: 800px;
    }
  }

  .slide-footer {
    @footer-width: 250px;
    @link-margin: 50px;
    .size(30px, @footer-width);
    position: absolute;
    bottom: 25px;
    left: @panel-width / 2 - @footer-width / 2;
    background-color: #bb81db;
    .rounded-corners(5px);

    a#previous {
      margin-left: @link-margin;
    }

    a {
      color: #ffffff;
      float: left;
      margin-top: 5px;
      width: (@footer-width - @link-margin) / 2;
      top: 5px;
    }


  }
}