extends slide-layout

block content
  h2 Kombinatoriikkaa
  ul
      li Ok, se lätinästä ... aletaan mätkiä! (<a href="https://gist.github.com/6bcb212c3dd72414b08e">gist</a>)
      li select
      li where
      li merge
      li concat
