extends slide-layout

block content
  h2 Perusprinsiipit
  ul
      li Observable
          ul
              li onNext
              li onComplete
              li onError
      li Observer
          ul
              li subscription
      li Observablejen kombinointi

