extends slide-layout

block content
  h2 Streamien <a href="/js/stream-creating-examples.js"> luominen </a>
  ul
      li never()
      li empty()
      li returnValue()
      li fromArray()
      li interval()
      li $.XXAsObservable()

