extends slide-layout

block content
  h2 Kirjallisuutta etc.
  ul
      li
          <a href='http://msdn.microsoft.com/en-us/library/hh242985%28v=vs.103%29.aspx'> MSDN </a>
      li
          <a href='https://github.com/Reactive-Extensions/RxJS'> rxjs github </a>
      li
          <a href='http://rx.codeplex.com/'> rx codepläxi </a>
      li
          <a href='https://github.com/richardszalay/raix/wiki/Reactive-Operators'> raix jäbän taulukko </a>
      li
          <a href='http://www.introtorx.com/'> Rx intro, must read! </a>
      li
          <a href='https://github.com/raimohanska/bacon.js'> bacon.js </a>