extends slide-layout

block content
  h2 Subject
  ul
      li subject on...
        ul
            li observable
            li observer
      li Eri tyyppisiä:
        ul
            li subject
            li behaviorsubject
            li replaysubject
            li asyncsubject
