extends slide-layout

block content
  h2 Rx:n kanssa työskentely
  ul
      li marble diagrams, kynä & paperi!
      li repl
      li marble diagrams, kynä & paperi!!
      li marble diagrams, kynä & paperi!!!!
      li ihan oikeasti, sorkat irti näppäimistöstä! marble diagrams, kynä & paperi!!!!


