extends slide-layout

block content
  h2 Kombinatoriikkaa (<a href="https://gist.github.com/a900cf378543e39e0d47">gist</a>)
  ul
      li zip
      li combinelatest
      li toArray, takelast...
      li throttle, delay
      li bufferWith...
      li windowWith...