extends slide-layout

block content
  h2 SelectMany
  ul
      li Projects each element of an observable sequence to an observable sequence and flattens the resulting observable sequences into one observable sequence.
      li hihi...
      li katsotaan esimerkkejä (<a href="https://gist.github.com/e5881a14fe875eb41abe">gist</a>)