extends slide-layout

block content
  h2 Mikä on Rx (reactive extensions)?
  ul
      li funktionaalinen reaktiivinen ohjelmointimalli
          ul
              li push pohjainen
              li 'tapahtumia' käsitellään funktionaalisen ohjelmoinnin keinoin
      li tässä skolessa käytetään RxJs toteutusta
          ul
              li Microsoftin tekemä
              li Lähdekoodit saatavana
