doctype 5
html
  head
    title = title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/lib/jquery/jquery-1.8.3.min.js')
    script(type='text/javascript', src='/js/lib/rx/rx.js')
    script(type='text/javascript', src="/js/lib/rx/rx.aggregates.js")
    script(type='text/javascript', src="/js/lib/rx/rx.binding.js")
    script(type='text/javascript', src="/js/lib/rx/rx.coincidence.js")
    script(type='text/javascript', src="/js/lib/rx/rx.experimental.js")
    script(type='text/javascript', src="/js/lib/rx/rx.joinpatterns.js")
    script(type='text/javascript', src="/js/lib/rx/rx.testing.js")
    script(type='text/javascript', src="/js/lib/rx/rx.time.js")
    script(type='text/javascript', src="/js/lib/rx/rx.jquery.js")
    script(type='text/javascript', src="/js/lib/handlebars/handlebars-1.0.rc.1.js")

    body
    div(id="slide-content")
        block content

        div(class="slide-footer")
            a(id="previous", href="/presentation/#{previous_slide}") Edellinen
            a(id="next", href="/presentation/#{next_slide}") Seuraava

    script(type='text/javascript')
        var g = $('body').keyupAsObservable()
            .select(function(x) { return x.originalEvent.keyCode })

        g.where(function(x) { return x == 37 }).subscribe(function() { window.location.href = $('#previous').attr('href') })
        g.where(function(x) { return x == 39 }).subscribe(function() { window.location.href = $('#next').attr('href') })